body {
  width: 80%;
  /* height: 50%; */
  margin: 0 auto;
  /* background-color: #615b53; */
}

div {
  text-align: center;
}

h1 {
  margin: 0.1em;
}

p {
  padding-bottom: 0.2em;
  font-size: xx-large;
  margin: 0.3em auto;
}

img {
  width: 50%;
  object-fit: cover;
  height: 400px;
  padding: 1em;
  border: 0.02em solid gray;
  border-radius: 0.5em;
  margin-top: 1em;
}

select {
  border: 0.2em solid gray;
  width: 20%;
  padding: 0.3em;
  margin-bottom: 0.4em;
  border-radius: 0.5em;
}
button {
  width: 10%;
  padding: 0.5em;
  margin: auto 5%;
  border: 0.02em solid gray;
  border-radius: 0.5em;
  background-color: #615b53;
}

button:nth-of-type(2) {
  background-color: hsl(24, 81%, 47%);
}

button:hover {
  background-color: hsl(24, 81%, 47%);
}

button:nth-of-type(2):hover {
  background-color: #615b53;
}

.div {
  margin: 0 25%;
  margin-top: 1em;
  border: 3px solid gray;
  border-radius: 1em;
  padding: 1em;
}
